

  html{ scroll-behavior: smooth;}
  body{
      background-color: rgb(252, 248, 223);
   
  }
   /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  */
  
  #cover{
background-image: url("./images/shelf2.jpg");

height:500px;
width:100%;
margin-top: 0px;
/* margin-left: 50%; */
/* position: relative; */
background-size: cover;
background-repeat: no-repeat;
background-color: blue;
/* position: absolute; */
border-radius: 20px;



  }
 #cover h1{
  
    margin-left: 60px;
    margin-top: -400px;
    font-size: 150px;
    color:rgb(240, 73, 73);
    font-family:cursive ;
   
  }
 
  #swap{
      text-align: center;
    margin-top: -100px;
    margin-left: -800px;
    font-size: 50px;
    color:black;
    font-family:  sans-serif ;
  }
 #menu{
  position: fixed;
  z-index: 100;
  height:80px;
  width:100%;
  border-radius: 30px;
  background-color:rgb(240, 73, 73);
} 
 #color{
  height:485px;
  width:585px;
  background-color: rgb(255, 253, 241);
  border: 10px solid  rgb(255, 253, 241) ;
 }
 #anchors{
  display: flex;
  flex-direction: row;
  gap:100px;
  /* justify-content: center; */
  position: absolute;
  margin-top: 20px;
  padding-left: 500px;
 }
 #anchors a{
  color:white;
  text-decoration: none;
  font-size: 30px;
  font-family: cursive;
 }
 #home-icon{
background-image: url("./images/home-icon-silhouette.png");
height: 50px;
width:50px;
background-size: contain;
background-repeat: no-repeat;
position: absolute;
 margin-left: -70px; 

 }
 #boxes{
display: flex;
flex-direction: row;
gap:60px;
justify-content: center;
margin-top: 100px;

 }
 #one{
  height:200px;
  width:200px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 20px;
 }
 #one h3{
  /* margin-top: 100px; */
color:white;
text-align: center;
 }
 #one p{
color:white;
text-align: center;
margin-top: -10px;
 }
 #one-img{
  background-image: url("./images/free-shipping.png");
  height:100px;
  width:100px;
  background-size: contain;
  background-repeat: no-repeat;

 margin-left: 50px;
 
 }
 #two{
   height:200px;
  width:200px;
  background-color: rgb(230, 114, 0)  ;
  border-radius: 20px;
 }
  #two h3{
  /* margin-top: 100px; */
color:white;
text-align: center;
 }
 #two p{
color:white;
text-align: center;
margin-top: -10px;
 }
 #two-img{
  background-image: url("./images/padlock.png");
  height:80px;
  width:80px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top:15px;

 margin-left: 50px;
 }
 #three{
   height:200px;
  width:200px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 20px;
 }
  #three h3{
  /* margin-top: 100px; */
color:white;
text-align: center;
 }
 #three p{
color:white;
text-align: center;
margin-top: -10px;
 }
 #three-img{
  background-image: url("./images/undo.png");
  height:70px;
  width:70px;
  background-size: contain;
  background-repeat: no-repeat;

 margin-left: 60px;
   margin-top:20px;
 }
 #four{
   height:200px;
  width:200px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 20px;
 }
  #four h3{
  /* margin-top: 100px; */
color:white;
text-align: center;
 }
 #four p{
color:white;
text-align: center;
margin-top: -10px;
 }
 #four-img{
  background-image: url("./images/headphones.png");
  height:70px;
  width:70px;
  background-size: contain;
  background-repeat: no-repeat;

 margin-left: 60px;
   margin-top:15px;
 }
 #featured{

background-color:white;
white-space: nowrap;
overflow-x: hidden;
overflow-y: hidden;
 height: 220px; 
  width: 100%;
  /* border: 2px solid gray; */
  margin-top: 300px;

 }
 #featured div{
  width:200px;
  height:200px;
  background-color: blueviolet;
  margin:10px;
  display:inline-block;
  
 }
 #f1{
  background-image: url("./images/atomic-habits.webp");

  background-size: cover;
  background-repeat:no-repeat;
 }
 #f2{
  background-image: url("./images/book2.jpg");

  background-size: cover;
  background-repeat:no-repeat;
 }
 #f3{
  background-image: url("./images/book3.jfif");

  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
 }
 #f4{
  background-image: url("./images/book4.webp");

  background-size: cover;
  background-repeat:no-repeat;
   background-position: center;
 }
 #f5{
  background-image: url("./images/book5.jpg");

  background-size: cover;
  background-repeat:no-repeat;
   background-position: center;
 }
 #f6{
  background-image: url("./images/book6.jpg");

  background-size: cover;
  background-repeat:no-repeat;
   background-position: center;
 }
 #f7{
  background-image: url("./images/book7.jpg");

  background-size: cover;
  background-repeat:no-repeat;
   background-position: center;
 }
 #f8{
  background-image: url("./images/book8.jpg");

  background-size: cover;
  background-repeat:no-repeat;
   background-position: center;
 }
 #featured1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
 #scroll-buttons{
 display: flex;
justify-content: space-between; 
position: relative;
top:430px;
border-radius: 50px;
 }
 #scroll-buttons button{height: 50px;
width:50px;
border-radius: 50px;
  

 }
 .text1{
position: absolute;

color: rgb(230, 114, 0) ;
margin-top: -150px;
font-size: 50px;
margin-left: 25%;
/* border:2px solid  rgb(230, 114, 0);
border-radius: 120px;
padding: 10px; */
 }/*
.discount{
background-image: url("./images/VIP\ \ SALE.gif");/* position: fixed; 
height:500px;
width:100%;
background-repeat: no-repeat;
background-size: contain;
margin-top: 100px;

}
.arrivals{
  display:grid;
  row-gap: 10px;
background-color: blue;

    
  
    grid-template-columns: repeat(4, 1fr); 
    
 
    grid-template-rows: repeat(2, 100px);
    
  

}
.arrivals div{
background-color: blueviolet;
height: 100px;
width:100px;


} */

#arrivalmain{

  padding-top: 50px;
  display: flex;
  width: 100%;
  height:500px;
 
}
.sales1
 img {
  height: 580px;
  width:100%;
}


.sales1{width: 20%;}
.sales2{
  
  display: flex;
  flex-direction: row;
  gap:80px;
  flex-wrap: wrap;
  width: 80%;
  padding-left: 80px;
  padding-top: 20px;

}
.contain{
  background-color: blue;
  height:200px;
  width:200px;
   margin-bottom: 60px;
}
h1{
  color: rgb(230, 114, 0);
  font-size: 70px;
  padding-top: 100px;
margin-left: 35%;
}
#contain1{
  background-image: url("./images/sophie.jfif");
  background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;

    box-shadow:
    -10px 0px 20px rgba(0, 0, 0, 0.3), 
     10px 0px 20px rgba(0, 0, 0, 0.3);
}
#contain2{
  background-image: url("./images/sapiens.jfif");
   background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
     box-shadow:
    -10px 0px 20px rgba(0, 0, 0, 0.3), 
     10px 0px 20px rgba(0, 0, 0, 0.3);
}
#contain3{
  background-image: url("./images/kite\ runner.jfif");
   background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
     box-shadow:
    -10px 0px 20px rgba(0, 0, 0, 0.3), 
     10px 0px 20px rgba(0, 0, 0, 0.3);
}
#contain4{
  background-image: url("./images/games.jfif");
   background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
     box-shadow:
    -10px 0px 20px rgba(0, 0, 0, 0.3), 
     10px 0px 20px rgba(0, 0, 0, 0.3);
}
#contain5{
  background-image: url("./images/ends.jfif");
   background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
     box-shadow:
    -10px 0px 20px rgba(0, 0, 0, 0.3), 
     10px 0px 20px rgba(0, 0, 0, 0.3);
}
#contain6{
  background-image: url("./images/forty.jpg");
   background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
     box-shadow:
    -10px 0px 20px rgba(0, 0, 0, 0.3), 
     10px 0px 20px rgba(0, 0, 0, 0.3);
}
#contain7{
  background-image: url("./images/deus.jfif");
   background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
     box-shadow:
    -10px 0px 20px rgba(0, 0, 0, 0.3), 
     10px 0px 20px rgba(0, 0, 0, 0.3);
}
#contain8{
  background-image: url("./images/atomic-habits.webp");
   background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
     box-shadow:
    -10px 0px 20px rgba(0, 0, 0, 0.3), 
     10px 0px 20px rgba(0, 0, 0, 0.3);
}
#contain1:hover,#contain2:hover,#contain3:hover,#contain4:hover,#contain5:hover,#contain6:hover,#contain7:hover,#contain8:hover{ transform: scale(1.05); }
.btn1{
  height:50px;
  width:100px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 30px;
  position: relative;
  margin-top: 175px;
  margin-left: 45px;
 
  border-color: transparent;
  font-family: cursive;
}

.a1 {
   text-decoration: none;
   color:white;
}


.btn2{
  height:50px;
  width:100px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 30px;
  position: relative;
  margin-top: 175px;
  margin-left: 45px;
  color:white;
  border-color: transparent;
  font-family: cursive;
}
.btn3{
  height:50px;
  width:100px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 30px;
  position: relative;
  margin-top: 175px;
  margin-left: 45px;
  color:white;
  border-color: transparent;
  font-family: cursive;
}
.btn4{
  height:50px;
  width:100px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 30px;
  position: relative;
  margin-top: 175px;
  margin-left: 45px;
  color:white;
  border-color: transparent;
  font-family: cursive;
}
.btn5{
  height:50px;
  width:100px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 30px;
  position: relative;
  margin-top: 175px;
  margin-left: 45px;
  color:white;
  border-color: transparent;
  font-family: cursive;
}
.btn6{
  height:50px;
  width:100px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 30px;
  position: relative;
  margin-top: 175px;
  margin-left: 45px;
  color:white;
  border-color: transparent;
  font-family: cursive;
}
.btn7{
  height:50px;
  width:100px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 30px;
  position: relative;
  margin-top: 175px;
  margin-left: 45px;
  color:white;
  border-color: transparent;
  font-family: cursive;
}
.btn8{
  height:50px;
  width:100px;
  background-color: rgb(230, 114, 0) ;
  border-radius: 30px;
  position: relative;
  margin-top: 175px;
  margin-left: 45px;
  color:white;
  border-color: transparent;
  font-family: cursive;
}
/* .info{

  height:500px;
  width:90%;
  margin-left: 5%;
  background-color: bisque;
  margin-top: 200px;
  border-radius: 30px;
  background-image: url("./images/handcrafted-wooden-decorative-mask-sculpture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity:-0.1;
} */
.info {
 background-color:rgb(230, 114, 0);
 height:50px;
 width:50px;
 margin-top: 100px;

}
.price{
height:30px;
width:190x;
padding-top: 30px;
background-color:white;
  font-family: cursive;
  text-align: center;
  border: 5px solid  rgb(230, 114, 0);
  margin-top: -25px;
  border-top: none;
}

